<div class="container">
  <div class="row">
    <div class="col-md-8 topic-area">
      <% if @topics.any? %>
        <ol class="topics">
          <%= render @topics %>
        </ol>
         <%= paginate @topics %>
      <% else %>
        トピックはまだありません
      <% end %>
    </div>
    <div class="col-md-4 category-area">
      <% unless @categories.blank? %>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <%= link_to topics_path(category_id: category.id) do %>
                <%= category.category_name %>(<%= category.topics.count %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>