<% @comments.each.with_index(1) do |comment, i| %>
  <div class="comment">
    <% unless comment.id.nil? %>
      <div class="comment-info">
        <span class="comment-user">
          <%= i %>.
          <%= link_to user_path(comment.user.id) do %>
            <%= comment.user.name %>
          <% end %>
        </span>
        <span class="comment-time">
          <%= comment.created_at.strftime("%Y年%m月%d日%H:%M") %>
        </span>
      </div>
      <p class="comment-content"><%= comment.content %></p>
      <% if current_user?(comment.user) %>
        <span class="comment-delete">
          <%= link_to '削除', topic_comment_path(comment.topic_id, comment.id), method: :delete %>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>