<% provide(:title, @topic.title) %>
<div class="container">
  <div class="topic-show-head">
    <h2 class="page-tit topic-show-tit"><%= @topic.title %></h2>
    <div class="topic-show-time">
      <%= @topic.updated_at.strftime("%Y年%m月%d日%H:%M") %>
    </div>
    <div class="topic-show-description">
       <%= @topic.description %>
    </div>
    <div class="topic-show-user">
      <%= link_to user_path(@topic.user) do %>
        <%= @topic.user.name %>
      <% end %>
    </div>
    <div class="topic-show-category">
      <ul>
        <% @topic.categories.each do |category| %>
          <li>
            <%= link_to category.category_name, topics_path(category_id: category.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if user_signed_in? %>
    <% if current_user.admin? || current_user?(@topic.user) %>
      <div class="topic-show-edit">
        <span class="topic-edit-btn">
          <%= link_to edit_topic_path(@topic) do %>
            <i class="fas fa-edit"></i>編集
          <% end %>
        </span>
        <span class="topic-edit-btn">
          <%= link_to @topic, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
            <i class="far fa-trash-alt"></i>削除
          <% end %>
        </span>
      </div>
    <% end %>
  <% end %>
  <div class="topic-show-area">
    <% if user_signed_in? %>
      <div class="topic-comment-form">
        <%= render "comments/comment_form", topic: @topic, comment: @comment %>
      </div>
    <% end %>
    <div id="comment-index"　class="topic-comment-show">
      <%= render "comments/comment_index", comments: @comments %>
    </div>
  </div>
</div>