<header class="navbar navbar-expand-md navbar-fixed-top">
  <div class="container">
    <%= link_to "NoticeBoard", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <i class="far fa-plus-square"></i>新規スレッド
          </li>
          <li>
            <%= link_to user_path(current_user)  do %>
              <i class="fas fa-user-circle"></i>マイページ
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to signup_path do %>
              <i class="fas fa-user-plus"></i>新規登録
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
              <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
          <li>
            <%= form_for(:user, url: login_path) do |f| %>
              <%= f.hidden_field :email, value: 'noticeboard@example.com' %>
              <%= f.hidden_field :password, value: 'noticeboard' %>
              <%= f.submit 'テストログイン', class: "testlogin-btn" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>