<header class="navbar navbar-expand-md navbar-fixed-top">
  <div class="container">
    <%= link_to "NoticeBoard", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            新規スレッド
          </li>
          <li>
            <%= link_to user_path(current_user)  do %>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to signup_path do %>
              新規登録
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
              ログイン
            <% end %>
          </li>
          <li>
            <%= form_for(:user, url: login_path) do |f| %>
              <%= f.hidden_field :email, value: 'noticeboard@example.com' %>
              <%= f.hidden_field :password, value: 'noticeboard' %>
              <%= f.submit 'テストログイン' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>