<header class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container">
    <%= link_to "NoticeBoard", root_path, id: "logo" %>
    <%= render "shared/search_form" %>
    <span class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
      <i class="fa fa-bars navbar-toggler-icon hidden-lg hidden-md"></i>
    </span>
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="Navber">
      <% if user_signed_in? %>
        <li>
          <%= link_to new_topic_path do %>
            <i class="fas fa-pencil-alt"></i>トピック作成
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user-circle"></i>マイページ
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to signup_path do %>
            <i class="fas fa-user-plus"></i>新規登録
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <i class="fas fa-sign-in-alt"></i>ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</header>